.mainIndex {
  background: url("/src/assets/fondo.jpg") center center / cover no-repeat fixed;
  height: 90vh;

  @include mediaMobile() {
    background-size: 290%;
  background-repeat: no-repeat;
  }
  @include mediaTablet() {
    background-size: 290%;
  background-repeat: no-repeat;
  }

  #title {
    @include flex(row, nowrap, center, center);
    text-align: center;
    height: 90vh;
    position: relative;
    overflow: hidden;
  }
  #title::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    animation-duration: 1500ms;
    animation-name: fadeInDown;
    @include mediaMobile() {
      font-size: 55px;
    }
  }
}