.section1 {
  @include flex(row, wrap, space-evenly, center);
  height: 150px;
  background-color: $colorPrincipal;
  color: #fff;
  & > div {
    @include flex(row, wrap, center, center);
    & > img {
      height: 60px;
      width: 60px;
      margin-right: 1rem;
    }
  }

  h4 {
    font-weight: 700;
  }
}
